<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>year</key>
		<string>1862</string>
		<key>event</key>
		<string>Lt. Custer and Union Troops</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1862</string>
		<key>event</key>
		<string>Lt. Custer and Union Troops</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1910</string>
		<key>event</key>
		<string>9 Kings in Windsor Castle</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1945</string>
		<key>event</key>
		<string>Bombs dropped on Kobe, Japan</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1923</string>
		<key>event</key>
		<string>Disney Brothers open Studio</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1945</string>
		<key>event</key>
		<string>Douglas MacArthur signs formal surrender of Japan </string>
	</dict>
	<dict>
		<key>year</key>
		<string>1946</string>
		<key>event</key>
		<string>First picture ever taken in space </string>
	</dict>
	<dict>
		<key>year</key>
		<string>German flying ace, ‘The Red Baron’ and his dog </string>
		<key>event</key>
		<string>1916</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1933</string>
		<key>event</key>
		<string>Goebbels, Hitler’s Propaganda Minister.</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1934</string>
		<key>event</key>
		<string>Headquarters of Benito Mussolini and the Italian Fascist Party </string>
	</dict>
	<dict>
		<key>year</key>
		<string>1945</string>
		<key>event</key>
		<string>Hiroshima</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1942</string>
		<key>event</key>
		<string>Hitler looking at the Gustav Railway gun</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1956</string>
		<key>event</key>
		<string>Hungarian Revolution</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1962</string>
		<key>event</key>
		<string>JFK and LBJ during the Cuban Missle Crisis</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1931</string>
		<key>event</key>
		<string>Joseph and magda Goebbels on their wedding day. Best man- Adolf Hitler</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1912</string>
		<key>event</key>
		<string>Last photo taken of the Titanic </string>
	</dict>
	<dict>
		<key>year</key>
		<string>1961</string>
		<key>event</key>
		<string>Louis Armstrong plays for his wife in Giza</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1924</string>
		<key>event</key>
		<string>Opening of King Tut’s sarcophagus</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1864</string>
		<key>event</key>
		<string>‘Powder Monkey’ on the USS New Hampshire</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1924</string>
		<key>event</key>
		<string>Prohibition- Alcohol barrels to be burned</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1918</string>
		<key>event</key>
		<string>Pyramid of captured German helmets, New York</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1960</string>
		<key>event</key>
		<string>Ruby Bridges, first african-american to attend a white elementary school in the South</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1860-1880</string>
		<key>event</key>
		<string>Samurai</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1945</string>
		<key>event</key>
		<string>The dog of General George S. Patton on the day of his death </string>
	</dict>
	<dict>
		<key>year</key>
		<string>1980</string>
		<key>event</key>
		<string>The SAS storming the Iranian Embassy to free hostages taken by terrorists. London.</string>
	</dict>
	<dict>
		<key>year</key>
		<string>1963</string>
		<key>event</key>
		<string>Thich Quang Duc</string>
	</dict>
</array>
</plist>
